<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 페이지</title>
</head>
<body>
<div>
    <form method="post" action=".">
        {% csrf_token %}
<!--    <form action = {% url 'register' % }  method="get">-->
        안녕 회원가입
    <p>  <input id="Username" type="text" name="Username" placeholder="사용자 이름" required></p>
<!--        type을 password로 해야 동그라미 형식으로 보임-->
    <p>  <input id="password1" type="password" name="password1" placeholder="비밀번호" required></p>
        <p>  <input id="password2" type="password" name="password2" placeholder="비밀번호 확인" required></p>
<!--        에러 메시지 나오게 하는 블럭 -->
        <div class="row">
                        <div class="col-12">
<!--                            메시지 res 어떤거 error-->
                            {{ error }}
                        </div>
         </div>
    <p> <input type = "submit" value="회원가입"> </p>

<!--    </form>-->
</form>

</div>

</body>
</html>
