<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">MiniProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if not user.is_authenticated %}
                {% if request.resolver_match.url_name == 'create' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accountapp:create' %}">Sign Up <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% else %}
                {% if request.resolver_match.url_name == 'detail' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'accountapp:detail' pk=user.pk %}">My Page <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'accountapp:logout' %}" class="form-inline">
                {% csrf_token %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="text-decoration:none;">Sign Out</button>
            </form>
        {% else %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <a href="{% url 'accountapp:login' %}" style="text-decoration:none; color:inherit;">Sign In</a>
            </button>
        {% endif %}
    </div>
</nav>


