<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>
<div>
    <form method="get" action=".">
<!--        검색어 입력-->
        <input id="search" type = "search" name ="" placeholder="검색어 입력" value="">
         <button type = "submit" class="btn btn-dark">검색</button>
     <table border = "1">
         <th>번호</th>
         <th>제목</th>
         <th>조회수</th>
<!--         임시 넣기-->
         <tr>
             <td>1</td>
             <td>안녕</td>
             <td>3</td>
         </tr>
     </table>

        <table>
<!--            db에서 포스트 리스트를 가져옴-->
            {% for list in Postlist %}
            <ul>
                <li>{{list.Postname}}</li>
                <li>{{list.contents}}</li>
            </ul>
           {% endfor %}
        </table>

<!--    </form>-->
</form>

</div>

</body>
</html>
